@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quickcend-font{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* shared-styles */
.display-flex{
    display: flex;
}
main{
    background-image: url(../assets/bg.png);
}
header,main,footer{
    max-width: 1440px;
}

.parimary-padding{
    padding: 60px;
}
/* navbar-related-styles */
.navbar{
    align-items: center;
    justify-content: space-between;
}
.step-1{
    width: 202px;
    height: 62px;
    align-items: center;
}
.school{
    font-weight: 700;
    font-size: 2rem;
}
.nav-links{
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.first-btn{
    background-color: orange;
    color: white;
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
#nav-1{
    color: orange;
    font-weight: 700;
    font-size: 20px;
}
#nav-2{
    color: skyblue;
    font-size: 20px;
    font-weight: 500;
}
#nav-3{
    color: rgba(5, 212, 223, 1);
    font-size: 20px;
    font-weight: 500;
}
#nav-4{
    color: rgba(93, 88, 239, 1);
    font-size: 20px;
    font-weight: 500;
}
/* banner-related-styles */

.banner{
    gap: 50px;
    justify-content: space-between;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.title-no1{
    color: orange;
}
.title-no2{
    color: black;
}
.title-no3{
    color: skyblue;
}
.banner-description{
    color: black;
    font-size: 1.25rem;
}
.btn-parimary{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 47px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
}

/* standard-curiculam-related-styles */
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
    justify-content: space-between;
    /* padding: 60px; */
}
.standard-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

.card-no1,.card-no2,.card-no3{
    padding: 50px 40px;
    border-radius: 18.86px;
    text-align: center;
}
.card-no1{
    background-color: rgba(222, 245, 255, 1);
    box-shadow: 0 0 28.3px 0.94px 000000; 
}
.card-no2{
    background-color: rgba(255, 244, 220, 1);
    box-shadow: 0 0 28.3px 0.94px 000000;
}
.card-no3{
    background-color: rgba(242, 232, 255, 1);
    box-shadow: 0 0 28.3px 0.94px 000000;
}
.Read-More-1{
    color: rgba(100, 200, 255, 1);
    font-weight: 700;
}
.Read-More-2{
    color: rgba(240, 170, 0, 1);
    font-weight: 700;
}
.Read-More-3{
    color: rgba(135, 0, 255, 1);
    font-weight: 700;
}
.title{
    font-weight: 700;
    font-size: 1.5rem;
}
.description{
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}

/* ball-styles */
.ball-container{
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 80px;
  }
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 600;
  }
/* our-story-related-styles */
.Our-Stories img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.btn-1{
    background-color: rgba(60, 216, 232, 1);
    padding: 14px 14px;
    border: none;
    border-radius: 20px;
    margin-top: -30px;
    margin-left: 38px;
}
.Our-Stories-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.story-1{
    background-color: rgba(255, 255, 255, 1);
    width: 50%;
    border-radius: 16px;
}
.common-padding{
    padding: 26px 32px;
    text-align: left;
}
.story-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.story-description{
    font-weight: 500;
    font-size: 15px;
    color: rgba(102, 102, 102, 1);
}
/* story-2 */
.story-container{
    gap: 26px;
    justify-content: center;
}
.story-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 17px;
    width: 50%;
}
.story-item{
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
}
.btn-2,.btn-3, .btn-4, .btn-5{
    background-color: rgba(149, 178, 38, 1);
    padding: 12px 16px;
    border: none;
    border-radius: 20px;
    margin-top: -30px;
    margin-left: 38px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}
.btn-3{
    background-color: rgba(93, 88, 240, 1);
}
.btn-4{
    background-color: rgba(149, 178, 38, 1);
}
.btn-5{
    background-color: rgba(149, 178, 38, 1);
}
.btn-6{
    border: none;
    padding: 10px 60px;
    border-radius: 12px;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 80px;
}
.view-all-button{
    text-align: center;
}

/* footer-related-styles */
.footer-part{
    background-color: rgba(1, 172, 253, 1);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 120px 140px;
}
.kidz-education{
    justify-content: left;
    text-align: left;
}
.common-color{
    color: rgba(255, 255, 255, 1);
}   
.kidz-title{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.kidz-description{
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
}

/* responsive-media-query */
@media screen and (max-width:576px){
    /* shared-styles */
    .navbar{
        flex-direction: column;
    }
    /* banner-related */
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        margin-top: 20px;
        padding: 0px 16px;
    }

    .ball-container, .story-1{
        display: none;
    }
    /* navbar-related */
    .nav-links{
        gap: 10px;
    }
    .navbar{
        border-bottom: 1.5px solid rgba(255, 144, 14, 1);
        text-align: center;
    }  
    /* standard-curiculam-related-styles */
    .Standard-Curriculum{
        padding: 0px 16px;
    }
    .card-container{
        grid-template-columns: 1fr;
        gap: 12.3px;
        padding: 0px 6px;
        width: 100%;  
    }

    /* our-story-styles */
    .Our-Stories{
        padding: 0px 16px;
    }
    .story-2{
        width: 100%;
        /* background-color: bisque; */
        gap: 11px;
    }
    .story-item{
        width: auto;
        height: auto;
    }
    .common-btn{
        padding: 5px 10px;
        margin-left: 22px;
        margin-top: -22px;
    }
    .view-all-button{
        margin-top: 15px;
        margin-bottom: 40px;
    }

}